<h1>Heroes</h1>
<hr>

<div class="row">
    <div class="col-md-12 text-right">
        <button class="btn btn-outline-primary" type="button" [routerLink]="['/heroe', 'new']">
          Nuevo Héroe
        </button>
    </div>
</div>
<br>
<div class="row animated fadeIn fast">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Casa</th>
                        <th scope="col" class="text-right">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let k of heroes | keys; let i = index">
                        <td> {{ i + 1 }} </td>
                        <td> {{ heroes[k].nombre }} </td>
                        <td> {{ heroes[k].casa }} </td>
                        <td class="text-right w230"> <button [routerLink]="['/heroe', k]" class="btn btn-outline-info"> Editar </button>
                            <button (click)="borrarHeroe(k)" class="btn btn-outline-warning"> Eliminar </button> </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="(heroes | keys).length === 0 && !loading" class="alert alert-light">
                <strong>No hay</strong> registros que mostrar
            </div>

            <div *ngIf="loading" class="alert alert-warning">
                <strong>Cargando</strong> por favor espere
            </div>
        </div>
    </div>
</div>